:root {
    color-scheme: dark;

    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(16, 3, 21);
    margin: 0;
    border: 0;
    padding: 0;
}

* {
    color: whitesmoke;
}

ul {
    padding-left: 0;
    
    /* FIXME: We probably want to remove all default styling */
    margin-top: 0;
}

ul li {
    list-style: none;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    border: solid;
    border-width: 1px;
    border-bottom: 0px;
    border-color: rgb(93, 71, 81);
}

ul li:last-child {
    border: 1px solid;
    border-color: rgb(93, 71, 81);
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background: rgb(14, 5, 10);
    color: whitesmoke;

    border: 1px solid;
    border-radius: 0.4em;
    padding-left: 0.6em;
    padding-right: 0.6em;

    max-width: max(15em, 10vw);
}

.tooltip h4 {
    margin-top: 1em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    width: 100%;
    padding: 0;
    margin: 0;
}

#main-panel {
    height: 75vh;
}

select {
    width: 100%;
}

#people {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid rgb(93, 71, 81);
    width: 17vw;
    height: 100%;
    vertical-align: top;
    /*flex-grow: 1;*/
}

#peoplelist {
    display: inline-block;
    flex-direction: column;
    flex-flow: column;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid rgb(93, 71, 81);
    width: 100%;
    
    overflow-y: auto;
}

#plot {
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(33, 15, 27);
    width: 65vw;
    height: 100%;
    /*vertical-align: top;*/
    /*flex-grow: 5;*/

    border: 1px solid;
}

#plot h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgb(93, 64, 83);
    margin: 0;
}

#grouplist {
    display: inline-block;
    box-sizing: border-box;
    background-color: black;
    width: 17vw;
    height: 100%;
    /*vertical-align: top;*/
    /*flex-grow: 1;*/

    border: 1px solid;
}

#grouplist h4 {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 0.5em 0em 0.5em 1em;
}

.tooltip {
    fill: #ffffff;
}

#lower-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid;
    width: 100%;
    height: 25vh;

    overflow: hidden;
}

#keywordlist {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    overflow: auto;

    padding: 0.2em;
}

#keywordlist p {
    border: 1px solid;
    border-radius: 1em;
    display: inline-block;
    margin: 0.3em;
    background-color: rgb(35, 24, 29);
    flex-grow: 1;
    padding: 2em;
    height: fit-content;
    
}

#keywordheader {
    display: inline-block;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.5em;
    padding-left: 1em;
    background-color: rgb(61, 14, 48);
}